<%= javascript_pack_tag 'start', 'data-turbolinks-track': 'reload', defer: true %>

<div id="debt-main">
  <div class="bg-header">
    <div class="container">
      <div class="row py-md-5">
        <div class="col-xl-5 text-center text-xl-start py-md-4">
          <a href="/">
            <%= image_tag('logo.png', class: 'logo-img mt-2 d-none d-md-block')%>
          </a>
          <h5 class="text-warning w-100 text-center d-block d-md-none pt-2">DEBT CLEAR</h5>
          <h1 class="fw-bold text-orng fs-49 mb-0 mt-2">Struggling With Debt?</h1>
          <h3 class="text-orng mb-4 mb-md-5">Write off up to 90% of your debt today!</h3>
          <ul class="list-unstyled font-montserat d-none d-xl-block">
            <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
              <%= image_tag('tick.png', class: 'img-check me-2')%>
              <p class="mb-0 w-auto text-white">Freeze your interest and charges from increasing</p>
            </li>
            <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
              <%= image_tag('tick.png', class: 'img-check me-2')%>
              <p class="mb-0 w-auto text-white">Lower your bills to manageable monthly payments</p>
            </li>
            <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
              <%= image_tag('tick.png', class: 'img-check me-2')%>
              <p class="mb-0 w-auto text-white text-start">Write off your unsecured debts</p>
            </li>
            <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
              <%= image_tag('tick.png', class: 'img-check me-2')%>
              <p class="mb-0 w-auto text-white text-start">Take away your money worries</p>
            </li>
          </ul>
          <button type="button" class="btn btn-blue d-none d-xl-block px-lg-5 px-4 rounded-pill text-white font-montserat my-4">Check If You Qualify <%= image_tag('hand-point.png', class: 'img-hand ms-2')%></button>           
        </div>
        <div class="col-xl-7 py-md-4">
          <!-- MultiStep Form -->
          <div class="rounded-3 bg-color-light shadow-lg w-100 px-md-4 pt-md-4">
            <script src="https://cdn101-inst47-client.phonexa.uk/form/run.php?p=C0B54777F9774C54B412F811E18C763F&public=1"></script>
          </div>
          <!-- MultiStep Form -->
          <div class="w-100 d-block d-xl-none text-center">
            <ul class="list-unstyled font-montserat text-start pt-3">
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white">Write off your unsecured debts</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white">Take away your money worries.</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white text-start">Freeze your interest and charges from increasing</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white text-start">Lower your bills to manageable monthly payments</p>
              </li>
            </ul>
            <button type="button" class="btn btn-blue px-lg-5 px-4 rounded-pill text-white font-montserat my-4">Check If You Qualify <%= image_tag('hand-point.png', class: 'img-hand ms-2')%></button>           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row w-100 mx-0 py-md-5 py-4 mt-md-5 align-items-center justify-content-center">
      <h1 class="fw-bold text-center text-orng w-100 mb-5">Write off your debt in 3 Simple steps- </h1>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="rounded-3 shadow steps-div text-center">
          <div class="img-div">
            <%= image_tag('started.png', class: 'w-100 rounded-top img-div')%>            
          </div>
          <div class="p-3 text-center">
            <h4 class="text-orng">Get Started</h4>
            <p class="">Answer a Few questions about your debts and circumstances to start the process</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="rounded-3 shadow steps-div text-center">
          <div class="img-div">
            <%= image_tag('advice.png', class: 'w-100 rounded-top img-div')%>           
          </div>
          <div class="p-3 text-center">
            <h4 class="text-orng">Experts Advice</h4>
            <p class="">One of our Qualified Debt advisors will call you to discuss debt solutions for you</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="rounded-3 shadow steps-div text-center">
          <div class="img-div">
            <%= image_tag('off-debt.png', class: 'w-100 rounded-top img-div')%>           
          </div>
          <div class="p-3 text-center">
            <h4 class="text-orng">Debt write off plan</h4>
            <p class="">Our Qualified Debt experts will help you choose the right debt write off plan to take off your money worries.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-center">
      <button type="button" class="btn btn-blue px-lg-5 px-4 rounded-pill text-white font-montserat mb-5">Write off your Debts Now <%= image_tag('hand-point.png', class: 'img-hand ms-2 d-none d-md-inline-block')%></button>        
    </div>
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="row w-100 mx-0 py-md-5 py-4">
        <h1 class="fw-bold text-orng text-center mb-md-5 mb-4 w-100">Here's An Example Of How We Help</h1>
        <div class="col-lg-8 mx-auto">
          <%= image_tag('example-debt.png', class: 'w-100')%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>